<div>
  <h2 class="name">
    Tara Zvezda Manicsic
  </h2>
  <div class="intro">
    <p class="description">
      My main motives are learning, teaching and creating. To me, the fundementals of being a developer are being persistant, pragmatic, and percocious.
      Being able to view challenges in a logical, systematic way and clearly communicate that to others.
      As a team member I strive to be empathetic :W
  Along with all this, also being empathetic, a great team member, mentor/mentee, and straight-foward, concise communicator. Basically, you should be a robot...with stellar emotions. I strive to be all these things, including a robot.
  
      My experiences from my careers and community work have given me skills that are beneficial to many roles. If you believe you have an opportunity for me to help you organization do great things, please contact me. 
    </p>
  </div>
  <div class="jerbs">
  </div>
  <div class="community">
    <h3>Cincy Women Who Code</h3>
    <h4>Founder &amp; Director</h4>
  </div>
  <div class="content">
    <div class="videos">
      <h3>Conference Talks</h3>
      <ul>
        <li><a href="">How to JavaScript in 2018</a></li>
        <li><a href="">How to JavaScript in 2018</a></li>
        <li><a href="">How to JavaScript in 2018</a></li>
      </ul>
    </div>
    <div class="posts">
      <h3>Blog Posts</h3>
      <ul>
        <li><a href="">How to JavaScript in 2018</a></li>
        <li><a href="">How to JavaScript in 2018</a></li>
        <li><a href="">How to JavaScript in 2018</a></li>
      </ul>
    </div>
  </div>
  <div class="buzzwords">
  </div>
</div>
