<div>
  <h2 class="name">
    Tara Zvezda Manicsic
  </h2>
  <div class="intro">
    <p class="description">
      My main motives are learning, teaching and creating. To me, the fundementals of being a developer are being persistant, pragmatic, and curious. Being able to view challenges in a logical, systematic but empathetic way then clearly communicate that to others. I strive to be a good mentor and am an eager mentee.

      My experiences from my careers and community work have given me skills that are beneficial to many roles. If you believe you have an opportunity for me to help you organization do great things, please contact me. 
    </p>
  </div>
  <div class="jerbs">
  </div>
  <div class="community">
    <h3>Cincy Women Who Code</h3>
    <h4>Founder &amp; Director</h4>
  </div>
  <div class="content">
    <div class="videos">
      <h3>Conference Talks</h3>
      <ul>
        <li><a href="">How to JavaScript in 2018</a></li>
        <li><a href="">How to JavaScript in 2018</a></li>
        <li><a href="">How to JavaScript in 2018</a></li>
      </ul>
    </div>
    <div class="posts">
      <h3>Blog Posts</h3>
      <ul>
        <li><a href="">How to JavaScript in 2018</a></li>
        <li><a href="">How to JavaScript in 2018</a></li>
        <li><a href="">How to JavaScript in 2018</a></li>
      </ul>
    </div>
  </div>
  <div class="buzzwords">
    <h3>Tools &amp; Langages</h3>
    <h4>Comfrotable Usage</h4>
      <ul>
        <li>JavaScript</li>
      </ul>
    <h4>Would Need a Refresher</h4>
      <ul>
        <li>Go</li>
      </ul>
  </div>
</div>
